:root {
  --primary: #4CAF50;
  --light: #C8E6C9;
  --dark: #388E3C;
  --secondary: #00BCD4;
  --text: #212121;
  --text-light: #FFFFFF;
  --divider: #BDBDBD;
  --orange: #FF9800;
  --red: #F44336;
  --padding-xl: 20px;
  --padding-l: 15px;
  --padding-m: 10px;
  --padding-s: 5px;
  --radius: 5px;
}
